{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="comment_text">Content</label>
            <textarea class="form-control" name="comment_text" id="comment_text"
                      rows="10">{{ form.comment_text.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}