{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h5 class="my-3 border-bottom pb-2">Create Fiction</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="fiction_subject">subject</label>
            <input type="text" class="form-control" name="fiction_subject" id="fiction_subject"
                   value="{{ form.fiction_subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="fiction_text">content</label>
            <textarea class="form-control" name="fiction_text"
                      id="fiction_text" rows="10">{{ form.fiction_text.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-dark my-2">Submit</button>
    </form>
</div>

{% endblock %}